{% extends "inicio/encabezado.html" %}  

{% load static %}  

{% block titulo %} ABOUT {% endblock %}  

<link rel="manifest" >
    {%load pwa%}
    {%progressive_web_app_meta%}

{% block contenido %}  
<!-- Four --> 
<section id="four" class="wrapper style1 special fade-up">     
    <div class="container ">   
        <header class="major" style="font-family: 'n'; margin-top: 30px; letter-spacing:1px; font-size:15px;">           
            <h3>Personajes</h3>         
        </header>                
        <div class="box alt">   
            <div class="row gtr-uniform">  
                {%for p in personajes %}               
                <section class="col-4 col-6-medium col-12-xsmall">                     
                    <img src="{{p.Foto}}"  class="major" style="width: 200px; height: auto;">                        
                    <h3 style="font-family: 'n'; font-size: 14px;">{{ p.Nombre }}</h3>                     
                    <p style="font-family: 'n'; font-size: 10px;  letter-spacing:2px;">{{ p.Personaje }}</p>                 
                </section>    
                {% endfor %}             
                             
            </div>         
        </div>     
    </div> 

    <div class="container ">   
        <header class="major" style="font-family: 'n'; margin-top: 40px; letter-spacing:1px; font-size:15px;">           
            <h3>Escenarios</h3>         
        </header>                
        <div class="box alt">   
            <div class="row gtr-uniform">  
                {%for e in escenarios %}               
                <section class="col-4 col-6-medium col-12-xsmall">                     
                    <img src="{{e.foto}}"  class="major" style="width: 200px; height: auto;">                        
                    <h3 style="font-family: 'n'; font-size: 14px;">{{ e.Nombre }}</h3>                     
                    <p style="font-family: 'n'; font-size: 10px;  letter-spacing:2px;">{{ e.Escenario }}</p>                 
                </section>    
                {% endfor %}             
                             
            </div>         
        </div>     
    </div> 

    <div class="container ">   
        <header class="major" style="font-family: 'n'; margin-top: 40px; letter-spacing:1px; font-size:15px;">           
            <h3>Items</h3>         
        </header>                
        <div class="box alt">   
           
        </div>     
    </div> 

    <div class="container ">   
        <header class="major" style="font-family: 'n'; margin-top: 40px; letter-spacing:1px; font-size:15px;">           
            <h3>Controles</h3>         
        </header>                
        <div class="box alt">   
            
        </div>     
    </div> 
</section>  

{% endblock %}
